<app-navbar *ngIf="!useRedux"></app-navbar>
<app-navbar-container *ngIf="useRedux"></app-navbar-container>

<div class="container">
  <div class="row">
    <div class="col-xs">
      <app-profile *ngIf="!useRedux"></app-profile>
      <app-profile-container *ngIf="useRedux"></app-profile-container>

      <app-control-panel-container [useRedux]="useRedux"></app-control-panel-container>
    </div>
    <div class="col-xs-8">
      <app-timeline *ngIf="!useRedux"></app-timeline>
      <app-timeline-container *ngIf="useRedux"></app-timeline-container>
    </div>
  </div>
</div>
