<div class="container">
  <div class="row">
    <div class="jumbotron col-xs-12 mt-3">
      <h1 class="display-3 text-xs-center mb-2">
        Running total: $<span>{{runningTotal}}</span>
      </h1>
      <p class="text-xs-center">Open Dev Tools and refresh to take advantage of the <code>debugger</code> statement inside the reducer.</p>
      <pre><code class="code-sample">{{codeSample}}</code></pre>
      <p class="text-xs-center"><a [routerLink]="'/'">&laquo; Home</a></p>
    </div>
  </div>
</div>
